{% extends 'base.html' %}
{% load crispy_forms_tags %}

{%block content%}
<head>
    <title>Login|Blog</title>
</head>

<!-- <div class="col-sm-6 col-sm-offset-3">
 <h1 class="lead">Please Login!</h1>

<form action="" method="POST">
	{% csrf_token %}
{{ form|crispy }}
<button type="submit" value="submit" class="btn btn-success">Login &raquo;</button>
</form>
</div>
 -->
 <!-- <div class="container">
  
  <!-- Trigger the modal with a button -->
 
  <!-- Modal -->
  <!-- <!-- <div class="modal" id="myModal2" role="dialog">
    <div class="modal-dialog">
    
     <!-- Modal content-->
 <!--       <div class="modal-content">
        <div class="modal-header">
 

          <button type="button" class="close" data-dismiss="modal">&times;</button>

          <h1 class="modal-header lead">Please Login!</h1>
        </div>
        <div class="modal-body">

         
          
          <form action="" method="POST">
  {% csrf_token %}
{{ form|crispy }}
<button type="submit" value="submit" class="btn btn-success">Login &raquo;</button>
</form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

{%endblock content%}
  -->