{% extends 'base.html' %}

<head>
    <title>Home|Blog</title>
    </head>
   

<body>
{% block head %} 
 {% endblock head %}
<br><br><br>
{% block content %}
<div class='col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 '>
<form method="GET" action="">
<input type="text" name="q" placeholder="Search post.." value="{{ request.GET.q }}"></input>

<button type="submit" value="Search" class="btn btn-success">Search <i class="fa fa-search">  </i></button>

</form>
</div>
{% for post in post_page %}
	<div class=row>
    <div class='col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 '>
    <div class='thumbnail'>
    <div class='caption'>

	
	<h2 class="red">{{post.title}}</h2>
    <small>posted by : {{post.user.username}}</small>
    <p><small> published : {{post.published_date|timesince}} ago</small> |
    <small>updated :{{post.updated_date|timesince}} ago</small></p>
	<div class=content-markdown>{{post.content}}</div>
	
	
	{%if post.image%}
		<img src='{{post.image.url}}' class="uploadImage" /><br>
	{%endif%}
    <br>
    <p><a href={{post.get_absolute_url}} class="btn btn-primary" role="button">View &raquo;</a></p>
    </div>
    </div>
    </div>
	<hr>
    </div>
{% endfor %}
{% if posts.count == 0 %}
<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 ">
<h4>No Results found</h4>
</div>
</div></div><br><br>
{%endif%}
<div  align="center">
<div class="pagination">
    <span class="step-links">
        {% if post_page.has_previous %}
            <a href="?page={{ post_page.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{%endif%}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ post_page.number }} of {{ post_page.paginator.num_pages }}.
        </span>

        {% if post_page.has_next %}
            <a href="?page={{ post_page.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{%endif%}">next</a>
        {% endif %}
    </span>
</div>
</div>
</div>
</body>
{% endblock content %}
