{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
{{form.media}}
{% endblock head %}


{%block content%}
<head>
    <title>WriteBlog|Blog</title>
</head>


<div class='col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 '">

<!-- <div class='row'>
<div class='col-sm-12'>
<div class='container'>
 --><h1 class="lead">Create Post</h1>
<form action="" method="POST" enctype= "multipart/form-data">
	{% csrf_token %}
{{ form|crispy }}
<div align="center"><button type="submit" value="submit" class="btn btn-success">Post Blog</button></div>
</form>
<!-- </div>
</div>
</div>
 --></div>
{%endblock content%}

